URxvt*font: xft:Liberation Mono:size=11, xft:Monospace:size=11, xft:DejaVu Sans Mono:size=11

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
!Xft.hintstyle: hintslight
Xft.hintstyle: hintmedium
Xft.autohint: false
Xft.lcdfilter: lcddefault

!URxvt.letterSpace: -2
URxvt.letterSpace: -1
URxvt.scrollBar: false
!URxvt.shading: 25
!URxvt.inheritPixmap: true

! Colors !
! https://colorscheme.ru/color-names.html
URxvt*background: #2c2c2c
URxvt*foreground: #dcdcdc
! black
URxvt*color0:   #2E3436
URxvt*color8:   #555753
! red
URxvt*color1:   #FF2B2B
URxvt*color9:   #FF4040
! green
URxvt*color2:   #138808
URxvt*color10:  #5DA130
! yellow
URxvt*color3:   #FFCC00
URxvt*color11:  #CFB53B
! blue
URxvt*color4:   #4682B4
URxvt*color12:  #6699CC
! purple
URxvt*color5:   #806dbd
URxvt*color13:  #9370D8
! cyan
URxvt*color6:   #1FAEE9
URxvt*color14:  #87CEFA
! white
URxvt*color7:   #FFFFFF
URxvt*color15:  #D7D7D7

! Perl extensions !
URxvt.perl-ext-common: default,selection-to-clipboard,pasta,matcher,keyboard-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-launcher: /usr/bin/firefox
URxvt.underlineURLs: True
URxvt.matcher.button: 1
URxvt.keysym.R-Escape: perl:keyboard-select:activate
URxvt.keysym.Control-v: perl:pasta:paste
URxvt.clipboard.autocopy: true

xscreensaver.splash: false
xscreensaver.Dialog.headingFont: -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont: -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont: -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont: -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont: -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont: -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.passwdFont: -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*

xscreensaver.Dialog.foreground: #ffffff
xscreensaver.Dialog.background: #111111
xscreensaver.Dialog.topShadowColor: #111111
xscreensaver.Dialog.bottomShadowColor: #111111
xscreensaver.Dialog.Button.foreground: #666666
xscreensaver.Dialog.Button.background: #ffffff

xscreensaver.Dialog.text.foreground: #666666
xscreensaver.Dialog.text.background: #ffffff
xscreensaver.Dialog.internalBorderWidth: 24
xscreensaver.Dialog.borderWidth: 20
xscreensaver.Dialog.shadowThickness: 2

xscreensaver.passwd.thermometer.foreground: #ff0000
xscreensaver.passwd.thermometer.background: #000000
xscreensaver.passwd.thermometer.width: 8

xscreensaver.dateFormat: %I:%M%P %a %d %b, %Y

Xcursor.theme: Adwaita
Xcursor.size: 16
